
*{
  box-sizing: border-box;
  outline: none;
}

body{
  background: white;
  border-left: 60px groove #069;
  border-right: 40px inset #069;
  width:100%;
  min-width: 500px;

}

.set-head{
  background:#069;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px #089;

  padding: 10px;
  margin: 0px;
  margin-bottom:20px;
}
.login{
    background: rgba(195, 195, 195, 0.4);
  padding:0px;
  margin: 20px;
}

.join{
  background: rgba(195, 195, 195, 0.4);
  padding:0px;
  margin: 20px;
}

.login input{
  width: 90%;
  background:rgba(7, 136, 155,0.1);
 border: 10px solid #069;
 border-bottom-right-radius: 20px;
 border-bottom-left-radius: 20px;
 border-top-right-radius: 20px;
  margin: 0px 10px;
  padding: 5px;
  transition: box-shadow 0.3s, border 0.3s;

}
.login input:focus{
  border: double 10px #069;
  box-shadow: 4px 5px 0px 1px #414141;
  outline: none;
}
.label{
    background:#069;
    margin: -10px 10px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;


}
.loginSubmit{
  width:90%;
  min-width: 300px;
background:rgba(0, 102, 153	,0.3);
 border-left: 10px solid rgba(0, 102, 153	,0.8);
 box-shadow: 4px 4px 5px rgba(7, 136, 155, 0.3);
 margin: 10px;
 padding: 10px;
}

.nl-join{
  padding: 20px;
}

.join input{
  padding: 10px;
border: none;
border-bottom: solid 2px #c9c9c9;
transition: border 0.3s;
}

.join input:focus {
 color:red;
  /*box-shadow: 4px 1px 10px 1px #414141;*/
  outline: none;

}

.chat{
  width:100%;
  margin: 20px;



}

.chat-head{
  background: #069;
  padding:10px;
  color:#ffc;
  font-weight: bold;
  text-transform: full-width;
}

.users{
  background: #069;
  color: white;


}

.users li{
padding: 10px 0px;
list-style: circle url(http://mg-s.us/mybb/images/vienna//buddy_online.png) ;
list-style-position: inside;


}


.messages{
  list-style: none;
  background: rgba(195, 195, 195, 0.4);
  /*background: green;*/
  /*width:60%;*/
}

.messages li {
  width:60%;
}

.mine{
  padding:10px;
 background: rgba(195, 295, 195, 0.8);
 /*width:60%;*/
  float: left;
}

.other{
  padding:10px;
  /*background: rgba(295, 195, 295, 0.4);*/
 float: right;
 /*width:60%;*/
 text-align: right;
  }

.message-sender{
  width:100%;
  background:#069;
}

.message-sender input{
  width:100%;
  background:white;
  padding:10px;
  margin: 10px;
}
.message-sender input:focus{
  outline: none;
  /*box-shadow: 8px 7px 15px 6px rgba(65,65,65,0.74);*/
  box-shadow: inset -4px -2px 42px 3px rgba(0,0,0,0.3);

}

.chat-sent{
  width:100%;
  min-width: 100px;
  background: #fff;

   box-shadow: inset -4px -2px 42px 3px rgba(0,0,0,0.3);
 margin: 10px;
 padding: 10px;
}
