@import url('https://fonts.googleapis.com/css?family=Cambo');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	background-color: #203936;
	font-family: 'Quicksand', sans-serif;
	font-size: 14pt;
}

#bg-div {
	background-image: url("../images/bg.jpg");
	background-repeat: repeat, repeat;
	background-size: 100%;
	filter: blur(10px);
	position: relative;
}

.container {
    width: 100%;
}

.main-container:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #ddd;
}

.main-container {
	position:relative;
	padding: 20px;
	border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

.contents {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.arrow-icon {
	font-size: 70px;
	color: #fff;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.header {
    max-width:400px;
	font-family: 'Cambo', Serif;
	border-radius: 3px;
	color: #293E6A;
	padding: 10px;
	background-color: #fff;
	margin: 10px auto;
}

.summary {
    box-shadow: 0px 0px 5px #555;
    padding: 20px;
    min-height: 186px;
    border: 2px solid rgba(255,255,255,0.2);
    min-width: 245px;
    border-radius: 5px;
    margin: 10px;
    z-index: 2000;
    color: #fff;
    text-align: center;
    transition: all .2s ease-in-out;
}

.summary1 {
	background-color: rgba(23,184,216, 0.8);
}

.summary2 {
	background-color: rgba(46,203,161, 0.8);
	
}

.summary3 {
	background-color: rgba(192,126,142, 0.8);
}

.summary4 {
	background-color: rgba(255,118,68, 0.8);
}

.summary5 {
	background-color: rgba(181,166,121, 0.8);
}

.summary6 {
	background-color: rgba(230,165,108, 0.8);
}

.summary7 {
	background-color: rgba(224,212,179, 0.8);
}

.summary8 {
	background-color: rgba(144,217,220, 0.8);
}

.summary:hover {
	transform: scale(1.05);
}

.hyperlink {
	text-align: center;
}

.hyperlink a {
	text-decoration: none;
	color: #fff;
}
